<html>
<head>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="all.js"></script>
	<link rel="stylesheet" href="style.css"/>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="rssReader" ng-controller="rssMain">
	<div class="rssLink">
		<div class="sidebar col-xs-4">
			<div class="inputWrapper col-xs-10"><input type="text" ng-model="url" class="form-control"></div>
			<div class="rsslinkBtn btn btn-primary col-xs-2" ng-click="submit()">SEND</div>
			<div class="col-xs-12 error bg-warning" ng-if="error" ng-bind="error"></div>
			<div class="rssItem col-xs-12  btn btn-default text-left" ng-repeat="(key, data) in rssList track by data.feed.feedUrl" ng-click="switchCurrent(key)">
				title: {{data.feed.title}} <br>
				link: {{data.feed.feedUrl}}
				<i ng-click="remove(key)">X</i>
			</div>
		</div>
		<div class="rssBody col-xs-8 noPad">
			<div ui-view></div>
		</div>
	</div>
</body>
</html>